<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">

	<persistence-unit name="MyJPA">
		  <provider>org.hibernate.ejb.HibernatePersistence</provider> 
		 <!-- <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider> --> 

		<properties>
			<!-- JPA 2.0 -->
			
		 <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver" />
		 <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		 <property name="javax.persistence.jdbc.user" value="system" />
		 <property name="javax.persistence.jdbc.password" value="tiger" /> 
		
			<!-- ORM Specific -->
		
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.cache.use_second_level_cache" value="false" />
			<property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory" />			
		</properties>
						
	</persistence-unit>
</persistence>