<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd">
 
 
 	<!-- javax.sql.DataSource
  	-->
  	
 	<bean 
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="ds">
		<property  value="org.hsqldb.jdbc.JDBCDriver" name="driverClassName"/>
		<property  value="jdbc:hsqldb:hsql://localhost/mydb" name="url" />
		<property  value="SA" name="username"/>
		<property  value="" name="password"/>
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		
		<property name="packagesToScan" value="com" /> <!-- to find the Flight Pojo -->
		<property name="dataSource" ref="ds" />
		
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="true" />
			</bean>
		</property>
	</bean>
	
	<bean id="txBean" 
			class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
 	
 	
 	<context:component-scan base-package="com"/> 
 	<tx:annotation-driven transaction-manager="txBean"/>  <!--  @Transactional  -->
 
 	
	<context:component-scan base-package="com"/> 
	 
 </beans>